/*insert style here*/
#map {
    height: 100vh;
    width: 100%;
    display: inline-block;
}

.mouseoverpopup {
    box-shadow: none; 
    font-weight: bold;
    background-attachment: #f4913b;

}

.mouseoverpopupLine {
    position:absolute;
    top: 55px;
    right: 50px;
    box-shadow: none; 
    font-weight: bold;
    background-attachment: #f4913b;

}

.info {
    float:bottom;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.panel {
    width: 25%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.range-slider {
    width: 50%;
}

.step {
	width: 20%;
}

.step img {
	width: 50%;
    height: auto;
}


#forward {
    float: right;
}

#back {
    float: left;
}

.sequence-control-container {
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

