/*insert style here*/
#map {
    height: 80vh;
    width: 100%;
    display: inline-block;
}

.mouseoverpopup {
    box-shadow: none; 
    font-weight: bold;
    background-attachment: #f4913b;

}

.mouseoverpopupLine {
    position:absolute;
    top: 55px;
    right: 50px;
    box-shadow: none; 
    font-weight: bold;
    background-attachment: #f4913b;

}

.info {
    float:bottom;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.panel {
    width: 25%;
    padding: 10px;
    display: inline-block;
    background-color: rgba(255,255,255,0.75);
    vertical-align: top;
    text-align: center;
    line-height: 42px;
    border: solid gray 1px;
}

.range-slider {
    width: 200px;
}

.step {
	width: 20%;
}

.step img {
	width: 40%;
    height: auto;
}


#forward {
    float: right;
}

#back {
    float: left;
}

.sequence-control-container {
    width: 250px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.banner {
    width: 100%;
    background-color: #0039a6;
    padding: 8px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Helvetica, sans-serif, sans-serif;
    color: rgb(255, 255, 255);
  }

.information{
    font-family: poppins , sans-serif;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 50px;
    padding-top: 50px;
    font-size: 18px;
}

.metadata{
    font-family: poppins , sans-serif;
    padding-bottom: 80px;
    font-size: 14px;
    color: rgb(169, 169, 169);
}

.flag_container{
    text-align: center;
    padding-bottom: 50px;
}

.names{
    font-family: poppins , sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: rgb(169, 169, 169);
}